<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Manager:</b>
  <%= @project.manager.email %>
</p>


<h3>This project has <%= pluralize(@counts[:total], 'story') %> (<%= @counts[:not_ready] %> not ready,
                                                                 <%= @counts[:waiting] %> waiting, 
                                                                 <%= @counts[:in_progress] %> in progress,
                                                                 <%= @counts[:accepted] %> accepted and
                                                                 <%= @counts[:rejected] %> rejected)</h3>
<div>
  <ol id="stories_list">
    <% @project.stories.each do |story| %>
      <li id="item_<%= story.id %>">
        <div><%= story.requestor.email rescue 'DELETED' %> has written:</div>
        <div><%= story.title %></div>
        <div><%= story.description %></div>
        <div><%= story.life_cycle_phase.phase %></div>
        <div><%= story.responson.email rescue 'DELETED' %> is responsible for this</div>
        <div>
          <% if can? :read, story %>
            <%= link_to 'Show', project_story_path(@project, story) %><br />
          <% end %>
          <% if can? :update, story %>
            <%= link_to 'Edit', edit_project_story_path(@project, story) %><br />
          <% end %>
          <% if can? :destroy, story %>
            <%= link_to 'Delete', project_story_path(@project, story), :method => :delete, :confirm => 'Are you sure?' %><br />
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
  <% if can? :adjust_order, @project %>
    <%= sortable_element "stories_list", :url => adjust_order_project_stories_path(@project),
                                         :complete => visual_effect(:highlight, "stories_list") %>
  <% end %>
</div>

<h3>This project has <%= pluralize(@project.developers.count, 'developer') %></h3>
<div class="developers_list">
  <ul>
    <% @project.developers.each do |developer| %>
      <li>
        <%= developer.email %>
      </li>
    <% end %>
  </ul>
</div>


<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Assign developers', assign_project_path(@project) %> | 
<% end %>
<% if can? :create, Story %>
  <%= link_to 'Write a story', new_project_story_path(@project) %> | 
<% end %>
<%= link_to 'Back', projects_path %>
