<%= form_for(@story, :url => {:controller => :stories, :action => action}) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= collection_select(:story, :scale_level_id, @levels, :id, :level) %>
    <%= f.label :estimation %><br />
  </div>

  <div class="field">
    <%= collection_select(:story, :responson_id, @project.developers, :id, :email) %>
    <%= f.label :responson_id %><br />
  </div>

  <div class="field">
    <%= collection_select(:story, :life_cycle_phase_id, @phases, :id, :phase) %>
    <%= f.label :life_cycle_phase_id %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
