<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :scale_level_id %><br />
    <%= f.text_field :scale_level_id %>
  </div>
  <div class="field">
    <%= f.label :requestor_id %><br />
    <%= f.text_field :requestor_id %>
  </div>
  <div class="field">
    <%= f.label :responson_id %><br />
    <%= f.text_field :responson_id %>
  </div>
  <div class="field">
    <%= f.label :life_cycle_phase_id %><br />
    <%= f.text_field :life_cycle_phase_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
