<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Scale level</th>
    <th>Requestor</th>
    <th>Responson</th>
    <th>Life cycle phase</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.description %></td>
    <td><%= story.scale_level_id %></td>
    <td><%= story.requestor_id %></td>
    <td><%= story.responson_id %></td>
    <td><%= story.life_cycle_phase_id %></td>
    <% if can? :read, story %>
      <td><%= link_to 'Show', project_story_path(params[:project_id], story.id) %></td>
    <% end %>
    <% if can? :update, story %>
      <td><%= link_to 'Edit', edit_project_story_path(params[:project_id], story.id) %></td>
    <% end %>
    <% if can? :destroy, story %>
      <td><%= link_to 'Destroy', project_story_path(params[:project_id], story.id), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_project_story_path %>
