<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Estimation:</b>
  <%= @story.scale_level.level %>
</p>

<p>
  <b>Requestor:</b>
  <%= @story.requestor.email %>
</p>

<p>
  <b>Responson:</b>
  <%= @story.responson.email %>
</p>

<p>
  <b>Life cycle phase:</b>
  <%= @story.life_cycle_phase.phase %>
</p>

<% if can? :update, @story %>
<%= link_to 'Edit', edit_project_story_path(params[:project_id], @story) %> |
<% end %>
<%= link_to 'Back', project_path(params[:project_id]) %>
